*{
    margin: 0;
    padding: 0;
}

body{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(90deg, #4B0082,	#8B008B);
}

.container{
    width: 80%;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 5px 5px 10px black;
}

.left-card{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    background-color: yellow;
}


.right-card{
    width: 50%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.inicio{
    display: flex;
    margin-bottom: 2rem;
    justify-content: left;
}

.login{
    margin-left: 5rem;
    padding: 0.8rem 3rem;
    border-radius: 5px;
    background-color: yellow;
    cursor: pointer;
    color: black;
    border: none;
}

.login:hover{
    background-color: #4B0082;
    color: yellow;
}

.inicio h1{
    color: yellow;
}

.inputs{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 1rem 0;
    margin-left: 1rem;
    margin-right: 1rem;
}

.nome, .telefone, .campo-usuario, .campo-senha, .campo-senha-confirm{
    flex-direction: column;
    display: flex;
    margin-bottom: 1rem;
}

.nome input, .telefone input, .campo-usuario input, .campo-senha input, .campo-senha-confirm input{
    border:none;
    border-radius: 10px;
    margin: 0.6rem 0;
    padding: 0.8rem 1.2rem;
}

.botao-final{
    margin-top: 5rem;
}

.botao-final button{
    padding: 0.8rem 1.5rem;
    background-color: yellow;
    color: black;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.botao-final button:hover{
    background-color: #4B0082;
    color: yellow;
}